

body {
    margin-top: 0;
    margin-right: auto;
    margin-bottom:0;
    margin-left: auto;
}

section {
    background-color: aquamarine;
    display: block;
    color: red;
}

#hello {
    display: block;
    background-color: silver;
    color: slateblue;
}